*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F2AEBB;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}